#seadragon-viewer {
    width: 100%;
    height: 100vh;
}
@media (max-width: 960px) {
  button{
    display:block;
    padding-bottom:50px;
  }
  #seadragon-viewer{
    width: 100%;
    height: 90vh;
  }
}
