* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100vh;
  background-color: none;
}
.swiper-button-prev {
  visibility: hidden;
}
.swiper-button-next {
  visibility: hidden;
}

ul {
  list-style-type: none;
}
