* {
  margin: 0;
  padding: 0;
}
html{
  width:100%;
  height:100vh;
  background-color:none;
}
.swiper-button-prev {
  visibility: hidden;
}
.swiper-button-next {
  visibility: hidden;
}
li {
  margin: 5px 0;
}
